@import "../../../app/styles/mixins";

.ratingText{
  color: white !important;
}

.ratingContainer {
  display: flex;
  gap: 0.5em;
}

.ratingBlock {
  @include flex-center;
  height: 50px;
  background-color: black;
  gap: 16px;
  border-radius: 10px;
  padding: 1rem;
}

.ratingText {
  color: white;
  font-size: 20px;
}

.kpimage {
  width: 20px;
  height: 20px;
}

.imdbimage{
  width: 30px;
  height: 30px;
}